# Build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.rsuser

# Visual Studio cache
.vs/

# Logs
*.log

# Publish folder
publish/
out/

# wwwroot uploads
wwwroot/uploads/

# Temporary files
*.tmp
*.temp
*.cache
